body {
    width: 960px;
    margin: 20px auto;
  }

#main {
    display: inline-block;
    width: 65%;
}

#sidebar {
    float: left;
    width: 35%;
}

#footer {
    padding: 16px 0 16px 0;
    border-top: 1px solid gray;
    margin: 20px auto;
  }

nav {
    padding: 16px 0 16px 0;
  }
 
a {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
  }

#row {
    content: "";
    display: table;
 }