body {
    width: 960px;
    margin: 20px auto;
  }

#main {
    float: right;
    padding: 10px;
    width: 65%;
}

#sidebar {
    display: inline-block;
    width: 35%;
}

#footer {
    padding: 16px 0 16px 0;
    border-top: 1px solid gray;
    margin: 20px auto;
  }

nav {
    padding: 16px 0 16px 0;
  }
 
  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    clear: both;
    white-space: nowrap;
  }

#row {
    content: "";
    display: table;
    clear: both;
 }