body {
    width: 960px;
    margin: 20px auto;
  }

#main {
    float: right;
    width: 65%;
}

#sidebar {
    clear: right;
    content: "";
    display: table;
}

footer {
    padding: 16px 0 16px 0;
    border-top: 1px solid gray;
  }

nav {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid gray;
  }