body {
    display: inline-block;
    width: 960px;
    margin: 20px auto;
  }

  #header {
    display: inline-block;
    border-bottom: 1px solid gray;
    padding: 8px 0 8px 0;
  }

  #nav {
    display: inline-block;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid gray;
  }

  #footer {
    display: inline-block;
    padding: 16px 0 16px 0;
    border-top: 1px solid gray;
  }

  a {
    display: inline;
    margin-right: 6px;
  }
  #aside {
    float: left;
  }

  #section {
    display: inline-block;
    margin-right: 20px;
}